# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl

# Override files and local vars
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
.idea/
.vscode/

# Logs
*.log
